---
import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
import { getCollection } from "astro:content"

const posts = (await getCollection('blog', 
	({ data }) => {
 		return import.meta.env.PROD ? data.draft !== true : data.draft !== true;
	})).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

posts.forEach(({data}) => console.log(data.pubDate))
---

<Layout>
	<div class="header">
		<h1>Milton Rosenbaum</h1>
	</div>
	<div class="content">

	<div class="bio">
		I am a McGill student in CS and Philosophy, currently in my final year. I am passionate about language, and skilled in python, full stack web development, and functional programming.
		<a href="/portfolio-v4/projects"><h1>Projects</h1></a>
		<ul class="postList">

		</ul>
		<h1>Recent Posts</h1>
		<ul class="postList">
		 {
			posts.map(post => (
				<Card link={`/portfolio-v4/blog/${post.id}`} 
				title={post.data.title} 
				date={post.data.pubDate.toDateString()}
				description={post.data.description}/>
			))

		 }

		</ul>
	</div>
	
</Layout>

<style>
	.header {
		text-align: center;
		font-size: 3rem;
		margin-top: 10rem;
		margin-bottom: 5rem;

	}
	.bio {
		max-width: 37rem;
		margin: calc(var(--pad) + 1rem);
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	li {
		list-style: none;
		margin-bottom: 1rem;
		margin-left: calc(var(--pad) + 1rem);
	}
	a {
		font-size: large;
		transition: color 100ms ease-out;
	}
	h1 {
		margin-bottom: 0px;
	}
	.content {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	@media only screen and (max-width:600px) {
		.header {
			font-size: 2rem;
		}
		.bio {
			margin: 0px;
		}

		h1 {
			text-align: center;
		}
	}
</style>