---
interface Props {
    title: string,
    description?: string,
    date?: string,
    link: string,
}
const { title, description, date, link} = Astro.props;
---

<li>
     <a class="card" href={link}>
        <h4>{title}</h4>
        <p class="desc">
            {description}
        </p>
        <p class="date">
            {/* <FormattedDate date={post.data.pubDate} /> */}
            {date}
        </p>
    </a>
</li>

<style>
    .desc {
        max-width: 6rem;
    }

    .card {
        backdrop-filter: blur(10px);
        transition: transform 200ms ease-in-out;
        transform: none;
        padding: calc(var(--pad) * 2);
        background-color: rgba(255, 255, 255, 0.856);
        margin: 3rem;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* border: 1px solid black; */
    }
    .card:hover {
        transform: scale(1.05);
    }
    .date {
        font-size: 0.7rem;
    }
</style>
